
# for semantic engines
pip install -U numpy
pip install -U nltk
pip install requests
pip install semantria_sdk
pip install textrazor

# for rss reader
pip install pyaml
pip install feedparser
pip install beautifulsoup4

# installing python-boilerpipe
pip install JPype1
pip install charade
git clone https://github.com/misja/python-boilerpipe.git
cd python-boilerpipe
sudo python setup.py install

